@import '../variables.scss';

.row {
    display: flex;
    gap: 31px;
}

.my-contacts {
    position: relative;
    max-width: 399px;
    background-color: $blue-block;
    box-shadow: $default-shadow;
    border-radius: 10px;
    padding: 87px 39px 36px 39px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    &__avatar {
        position: absolute;
        top: -75px;
        left: calc(50% - 75px);
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $blue-block;
        border-radius: 50%;
        width: 150px;
        height: 150px;
        box-shadow: $default-shadow;
        transition: .5s;

        img {
            border-radius: 50%;
            width: 134px;
            height: 134px;
            object-fit: cover;
            transition: .5s;
        }

        &:hover, img:hover {
            border-radius: 10px;
            transition: .5s;
        }
    }

    &__title {
        color: $subtitle-color;
        font-family: $Isb;
        font-size: $subtitle-size;
        margin-bottom: 17px;
    }

    &__list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        word-wrap: break-word;
        gap: 15px;
    }

    &__list li {
        white-space: nowrap;
    }

    &__list, &__list a {
        color: $text-color;
        font-size: $text-size;
        font-family: $Ir;
    }
}

.my-skills {
    background-color: $blue-block;
    box-shadow: $default-shadow;
    border-radius: 10px;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    padding: 21px 39px 36px 39px;
    gap: 24px;
    align-items: center;
    width: 100%;
    overflow: hidden;


    &__title {
        font-size: $title-size;
        font-family: $Ib;
        color: $title-color;
    }

    &__cards {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        align-items: flex-start;
        gap: 70px;
    }

    &__card {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        &-title {
            font-size: $sub-subtitle-size;
            color: $subtitle-color;
            font-family: $Isb;
        }

        

        li, li a {
            color: $text-color;
            font-size: $text-size;
            font-family: $Ir;
        }
    }

    &__list {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 21px;
        gap: 15px;

        .my-skills__subskill {
            font-size: $sub-subtitle-size;
            font-family: $Isb;
            color: $sub-subtitle-color;
        }
    }
}

.about-me {
    background-color: $yellow-block;
    width: 100%;
    border-radius: 10px;
    box-shadow: $default-shadow;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    padding: 19px 63px 31px 63px;
    overflow: hidden;

    &__title {
        font-size: $title-size;
        color: $title-color;
        font-family: $Ib;
    }

    &__text {
        font-size: $sub-subtitle-size;
        color: $subtitle-color;
        font-family: $Ir;
        text-align: center;
        line-height: 30px;
    }
}

.last-projects {
    background-color: $milk;
    border-radius: 10px;
    box-shadow: $default-shadow;
    display: flex;
    flex-direction: column;
    padding-bottom: 29px;

    &__title {
        font-size: $title-size;
        color: $title-color;
        font-family: $Ib;
        display: block;
        margin: 20px auto 8px auto;
        width: max-content;
    }

    &__slider-wrapper {
        margin: auto;
        max-width: 930px;
        position: relative;

        .custom-arrow {
            position: absolute;
            top: calc(50% - 80px);
            cursor: pointer;
            transition: .3s;

            path {
                transition: .3s;
            }

            &:hover {
                transition: .3s;
                transform: scale(1.1);
                
                path {
                    fill: $hover-color;
                    transition: .3s;
                }
            }
        }

        .prev-slide {
            left: -80px;
        }

        .next-slide {
            right: -80px;
        }

        .slick-dots {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
            margin-top: -20px;
            margin-bottom: 23px;
            position: relative;
            z-index: 2;

            .slick-active button {
                background-color: $hover-color;
            }

            li button {
                font-size: 0;
                background-color: $default-dots-color;
                box-shadow: $dots-shadow;
                width: 10px;
                height: 10px;
                border-radius: 2px;
                border: none;
                
                &:hover {
                    background-color: $hover-color;
                    cursor: pointer;
                }
            }
        }
    }

    &__slider {
        overflow: hidden;

        .slick-track {
            display: flex;
            justify-content: center;
            gap: 29px;
        }

        .slick-list {
            overflow: visible;
            display: flex;
        }

        .slick-prev {
            font-size: 0;
            position: absolute;
            left: -10px;
            top: 50%;
        }

        .slick-arrow {
            display: none!important;
        }

        .frame {
            transition: .1s;
            transform-style: preserve-3d;
        }

        .slider__item {
            background-color: rgba(97, 140, 53, 1);
            box-shadow: 0px 0px 10px 1px rgba(97, 140, 53, 1);
            border-radius: 10px;
            padding-bottom: 14px;
            display: flex!important;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: 12px;
            width: 280px;
            min-height: 100%;
            transform-style: preserve-3d;
            transition: .3s;

            &:hover {
                transition: .3s;
                transform: scale(1.05);
            }

            img {
                border-radius: 10px 10px 0 0;
                width: 100%;
                height: 215px;
                object-fit: cover;
            }

            .item__title {
                color: $white-text-color;
                font-size: $subtitle-size;
                font-family: $Isb;
                transform: translateZ(15px);
            }

            .item__text {
                font-size: $text-size;
                color: $white-text-color;
                font-family: $Ir;
                padding: 0 16px;
                text-align: center;
                transform: translateZ(10px);
            }
        }
    }

    .link {
        margin: auto;
    }
}

.slick-track {
    padding: 40px 0;
    z-index: 1;
}













@media screen and (max-width: 1120px) {
    .prev-slide {
        display: none;
    }
    
    .next-slide {
        display: none;
    }

    .last-projects__slider-wrapper {
        max-width: 90%
    }
}

@media screen and (max-width: 1142px) {
    .last-projects {
        border-radius: 0;

        &__slider-wrapper {
            max-width: 100%;
        }
    }
}

@media screen and (max-width: 840px) {
    .row {
        flex-direction: column;
        align-items: center;
        gap: 31px;
    }
}

@media screen and (max-width: 440px) {
    .about-me {
        padding: 19px 19px 31px 19px;
    }
}

@media screen and (max-width: 380px) {
    .my-skills {
        padding: 21px 19px 36px 19px;
    }

    .my-contacts {
        width: 100%;
    }
}