@font-face {
  font-family: "Inter-Regular";
  src: url("/fonts/Inter-Regular.ttf");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Inter-Bold";
  src: url("/fonts/Inter-Bold.ttf");
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: "Inter-SemiBold";
  src: url("/fonts/Inter-SemiBold.ttf");
  font-style: normal;
  font-weight: 600;
}
body {
  background-color: #F4FAFD;
  padding-top: 67px;
}

header {
  box-shadow: 0px 4px 12px 6px #E8EEF1;
  background-color: #FBFBFB;
  width: 100%;
  height: 67px;
  position: fixed;
  top: 0;
  left: 0;
}

.desctop-header {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.desctop-header li a, .curr-lang {
  color: #7B7B7B;
  font-family: "Inter-Regular";
}
.desctop-header li a:hover, .curr-lang:hover {
  color: #4B4B4B;
}

.drop-list--lang {
  background-color: #FBFBFB !important;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 12px;
  padding: 10px;
  box-shadow: 0px 4px 12px 6px #E8EEF1;
}

.drop-arrow {
  border-bottom-color: #FBFBFB !important;
}

.desctop-header li a, .link-lang {
  position: relative;
  transition: 0.3s;
}
.desctop-header li a::after, .link-lang::after {
  position: absolute;
  content: "";
  background-color: #7B7B7B;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2509803922);
  width: 0;
  height: 4px;
  border-radius: 2px;
  bottom: -7px;
  left: 0;
}
.desctop-header li a:hover::after, .link-lang:hover::after {
  transition: 0.3s;
  width: 100%;
}

.link-lang {
  color: #7B7B7B !important;
  font-size: 16px !important;
  font-family: "Inter-Regular";
  transition: 0.3s;
}
.link-lang:hover {
  color: #4B4B4B !important;
  transition: 0.3s;
}

.curr-lang {
  display: flex;
}
.curr-lang::after {
  transition: 0.3s;
  display: block;
  margin-left: 6px;
  content: url("/img/arrow.svg");
}

.curr-lang:hover, .drop:not(.is-disabled):hover {
  transition: 0.3s;
}
.curr-lang:hover .curr-lang::after, .drop:not(.is-disabled):hover .curr-lang::after {
  opacity: 0;
}

.mobile-header {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  width: 100%;
  height: 100%;
}
.mobile-header__title {
  font-family: "Inter-Regular";
  color: #7B7B7B;
  font-size: 16px;
}
.mobile-header__right-block {
  display: flex;
  align-items: center;
  gap: 16px;
}
.mobile-header__burger {
  width: 30px;
  background: none;
  border: none;
  display: flex;
  flex-direction: column;
  gap: 9px;
}
.mobile-header__burger span {
  height: 2px;
  width: 30px;
  background: #7B7B7B;
  border-radius: 4px;
}
.mobile-header__burger span:nth-child(1) {
  transition: 0.3s;
}
.mobile-header__burger span:nth-child(3) {
  transition: 0.3s;
}
.mobile-header .active {
  gap: 0;
  position: relative;
}
.mobile-header .active span {
  position: absolute;
}
.mobile-header .active span:nth-child(1) {
  transition: 0.3s;
  rotate: 45deg;
}
.mobile-header .active span:nth-child(2) {
  visibility: hidden;
}
.mobile-header .active span:nth-child(3) {
  transition: 0.3s;
  rotate: -45deg;
}

@media screen and (min-width: 425px) {
  .mobile-header {
    display: none;
  }
}
@media screen and (max-width: 425px) {
  header {
    height: 50px;
  }
  body {
    padding-top: 50px;
  }
  .desctop-header {
    display: none;
  }
}
