@font-face {
  font-family: "Inter-Regular";
  src: url("/fonts/Inter-Regular.ttf");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Inter-Bold";
  src: url("/fonts/Inter-Bold.ttf");
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: "Inter-SemiBold";
  src: url("/fonts/Inter-SemiBold.ttf");
  font-style: normal;
  font-weight: 600;
}
html, body {
  height: 100%;
  width: 100vw;
}

body {
  background-color: #ffffff;
  padding-top: 67px;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

.o-h {
  overflow-x: hidden;
}

header {
  position: relative;
}

.header {
  background-color: #FBFBFB;
  width: 100%;
  height: 67px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.desctop-header {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  gap: 40px;
  box-shadow: 0px 4px 12px 6px #E8EEF1;
}

.desctop-header li a, .curr-lang {
  color: #7B7B7B;
  font-family: "Inter-Regular";
}
.desctop-header li a:hover, .curr-lang:hover {
  color: #4B4B4B;
}

.drop-list--lang {
  background-color: #FBFBFB !important;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 12px;
  padding: 10px;
  box-shadow: 0px 4px 12px 6px #E8EEF1;
}

.drop-arrow {
  border-bottom-color: #FBFBFB !important;
}

.desctop-header li a, .link-lang {
  position: relative;
  transition: 0.3s;
}
.desctop-header li a::after, .link-lang::after {
  position: absolute;
  content: "";
  background-color: #7B7B7B;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2509803922);
  width: 0;
  height: 4px;
  border-radius: 2px;
  bottom: -7px;
  left: 0;
}
.desctop-header li a:hover::after, .link-lang:hover::after {
  transition: 0.3s;
  width: 100%;
}

.desctop-header li a.active::after {
  width: 100%;
}

.link-lang {
  color: #7B7B7B !important;
  font-size: 16px !important;
  font-family: "Inter-Regular";
  transition: 0.3s;
}
.link-lang:hover {
  color: #4B4B4B !important;
  transition: 0.3s;
}

.curr-lang {
  display: flex;
}
.curr-lang::after {
  transition: 0.3s;
  display: block;
  margin-left: 6px;
  content: url("/img/arrow.svg");
}

.curr-lang:hover, .drop:not(.is-disabled):hover {
  transition: 0.3s;
}
.curr-lang:hover .curr-lang::after, .drop:not(.is-disabled):hover .curr-lang::after {
  opacity: 0;
}

.mobile-header {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  width: 100%;
  height: 100%;
}
.mobile-header__title {
  font-family: "Inter-Regular";
  color: #7B7B7B;
  font-size: 16px;
}
.mobile-header__right-block {
  display: flex;
  align-items: center;
  gap: 16px;
}
.mobile-header__burger {
  width: 30px;
  background: none;
  border: none;
  display: flex;
  flex-direction: column;
  gap: 9px;
}
.mobile-header__burger span {
  height: 2px;
  width: 30px;
  background: #7B7B7B;
  border-radius: 4px;
}
.mobile-header__burger span:nth-child(1) {
  transition: 0.1s;
}
.mobile-header__burger span:nth-child(3) {
  transition: 0.1s;
}
.mobile-header .active {
  gap: 0;
  position: relative;
}
.mobile-header .active span {
  position: absolute;
}
.mobile-header .active span:nth-child(1) {
  transition: 0.1s;
  rotate: 45deg;
}
.mobile-header .active span:nth-child(2) {
  visibility: hidden;
}
.mobile-header .active span:nth-child(3) {
  transition: 0.1s;
  rotate: -45deg;
}

.mobile-header__list {
  width: 100%;
  display: flex;
  opacity: 0;
  gap: 28px;
  padding-bottom: 28px;
  padding-top: 12px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #FBFBFB;
  position: fixed;
  top: -55px;
  left: 0;
  z-index: 999;
  transition: 0.3s;
}
.mobile-header__list li a {
  position: relative;
  color: #7B7B7B;
  font-family: "Inter-Regular";
  transition: 0.3s;
}
.mobile-header__list li a::after {
  position: absolute;
  content: "";
  background-color: #7B7B7B;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2509803922);
  width: 0;
  height: 4px;
  border-radius: 2px;
  bottom: -7px;
  left: 0;
}
.mobile-header__list li a:hover {
  color: #4B4B4B;
}
.mobile-header__list li a:hover::after {
  transition: 0.3s;
  width: 100%;
}
.mobile-header__list li a.active::after {
  width: 100%;
}

.mobile-header__list.open {
  top: 44px;
  transition: 0.3s;
  opacity: 1;
}

main {
  flex: 1 1 auto;
}

footer {
  margin-top: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-height: 60px;
  padding: 30px 0;
  background-color: #FBFBFB;
  box-shadow: 0px 4px 12px 6px #E8EEF1;
}
footer .copyright {
  font-family: "Inter-SemiBold";
}

.swal2-title {
  color: #717171 !important;
  font-family: "Inter-Bold" !important;
  font-size: 36px !important;
}

.swal2-html-container {
  color: #717171 !important;
  font-family: "Inter-Bold" !important;
  font-size: 16px !important;
}

.swal2-styled.swal2-confirm {
  background-color: #f3f6fb !important;
  color: #717171 !important;
  font-family: "Inter-SemiBold" !important;
  font-size: 16px !important;
  outline: none !important;
  border: 2px solid #717171 !important;
  border-radius: 10px 0 !important;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) !important;
  transition: 0.3s !important;
}
.swal2-styled.swal2-confirm:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) !important;
}
.swal2-styled.swal2-confirm:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) !important;
  background-color: #717171 !important;
  color: #FBFBFB !important;
  transition: 0.3s !important;
}

.swal2-popup {
  background-color: #f3f6fb !important;
}

.about-text p.ql-align-center {
  text-align: center;
}
.about-text strong, .about-text p strong {
  font-family: "Inter-Bold";
}
.about-text a, .about-text p a {
  color: #7B7B7B;
  font-size: 16px;
  font-family: "Inter-Regular";
  position: relative;
  transition: 0.3s;
}
.about-text a::after, .about-text p a::after {
  position: absolute;
  content: "";
  background-color: #7B7B7B;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2509803922);
  width: 0;
  height: 2px;
  border-radius: 2px;
  bottom: -3px;
  left: 0;
}
.about-text a:hover, .about-text p a:hover {
  color: #4B4B4B;
}
.about-text a:hover::after, .about-text p a:hover::after {
  transition: 0.3s;
  width: 100%;
}

@media screen and (min-width: 425px) {
  .mobile-header {
    display: none;
  }
}
@media screen and (max-width: 425px) {
  .mobile-header__list {
    box-shadow: 0px 4px 12px 6px #E8EEF1;
  }
  .header {
    height: 50px;
  }
  body {
    padding-top: 50px;
  }
  .desctop-header {
    display: none;
  }
}
