@font-face {
  font-family: "Inter-Regular";
  src: url("/fonts/Inter-Regular.ttf");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Inter-Bold";
  src: url("/fonts/Inter-Bold.ttf");
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: "Inter-SemiBold";
  src: url("/fonts/Inter-SemiBold.ttf");
  font-style: normal;
  font-weight: 600;
}
.row {
  display: flex;
  gap: 31px;
}

.pdf-cv {
  position: fixed;
  bottom: 74px;
  right: 10px;
  background-color: #d6f1fe;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  display: flex;
  align-items: center;
  gap: 0;
  justify-content: flex-start;
  transition: 0.3s;
  z-index: 5000;
}
.pdf-cv span {
  color: #434343;
  size: 16px;
  font-family: "Inter-Regular";
  white-space: nowrap;
  opacity: 0;
  transition: 0.3s;
  width: 0;
}
.pdf-cv:hover {
  gap: 5px;
  transition: 0.3s;
}
.pdf-cv:hover span {
  width: 115px;
  opacity: 1;
  transition: 0.3s;
}

.my-contacts {
  position: relative;
  max-width: 399px;
  background-color: #4675eb;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  padding: 87px 39px 36px 39px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.my-contacts__avatar {
  position: absolute;
  top: -75px;
  left: calc(50% - 75px);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4675eb;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transition: 0.3s !important;
  overflow: hidden;
}
.my-contacts__avatar img {
  border-radius: 50%;
  width: 134px;
  height: 134px;
  -o-object-fit: cover;
     object-fit: cover;
  transition: 0.5s;
}
.my-contacts__avatar:hover img, .my-contacts__avatar:hover {
  border-radius: 10px;
  transition: 0.5s;
}
.my-contacts__title {
  color: rgb(255, 255, 255);
  font-family: "Inter-SemiBold";
  font-size: 24px;
  margin-bottom: 17px;
}
.my-contacts__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  word-wrap: break-word;
  gap: 15px;
}
.my-contacts__list li {
  white-space: nowrap;
}
.my-contacts__list, .my-contacts__list a {
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-family: "Inter-Regular";
}

.my-skills {
  background-color: #4675eb;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  padding: 21px 39px 36px 39px;
  gap: 24px;
  align-items: center;
  width: 100%;
}
.my-skills__title {
  font-size: 36px;
  font-family: "Inter-Bold";
  color: rgb(255, 255, 255);
}
.my-skills__cards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 70px;
}
.my-skills__card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.my-skills__card-title {
  font-size: 20px;
  color: rgb(255, 255, 255);
  font-family: "Inter-SemiBold";
}
.my-skills__card li, .my-skills__card li a {
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-family: "Inter-Regular";
}
.my-skills__list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 21px;
  gap: 15px;
}
.my-skills__list .my-skills__subskill {
  font-size: 20px;
  font-family: "Inter-SemiBold";
  color: rgb(255, 255, 255);
}

.about-me {
  background-color: #ecd95a;
  width: 100%;
  border-radius: 20px 20px 70px 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  padding: 19px 63px 31px 63px;
}
.about-me__title {
  font-size: 36px;
  color: #4B4B4B;
  font-family: "Inter-Bold";
}
.about-me__text {
  font-size: 20px;
  color: #434343;
  font-family: "Inter-Regular";
  line-height: 30px;
}

.last-projects {
  display: flex;
  flex-direction: column;
  padding-bottom: 29px;
}
.last-projects__title {
  font-size: 36px;
  color: #4B4B4B;
  font-family: "Inter-Bold";
  display: block;
  margin: 20px auto 8px auto;
  width: -moz-max-content;
  width: max-content;
}
.last-projects__slider-wrapper {
  margin: auto;
  max-width: 930px;
  position: relative;
}
.last-projects__slider-wrapper .custom-arrow {
  position: absolute;
  top: calc(50% - 80px);
  cursor: pointer;
  transition: 0.3s;
}
.last-projects__slider-wrapper .custom-arrow path {
  transition: 0.3s;
}
.last-projects__slider-wrapper .custom-arrow:hover {
  transition: 0.3s;
  transform: scale(1.1);
}
.last-projects__slider-wrapper .custom-arrow:hover path {
  fill: #4675eb;
  transition: 0.3s;
}
.last-projects__slider-wrapper .prev-slide {
  left: -80px;
}
.last-projects__slider-wrapper .next-slide {
  right: -80px;
}
.last-projects__slider-wrapper .slick-dots {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: -20px;
  margin-bottom: 23px;
  position: relative;
  z-index: 2;
}
.last-projects__slider-wrapper .slick-dots .slick-active button {
  background-color: #4675eb;
}
.last-projects__slider-wrapper .slick-dots li button {
  font-size: 0;
  background-color: #D9D9D9;
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.25);
  width: 10px;
  height: 10px;
  border-radius: 2px;
  border: none;
}
.last-projects__slider-wrapper .slick-dots li button:hover {
  background-color: #4675eb;
  cursor: pointer;
}
.last-projects__slider {
  overflow: hidden;
}
.last-projects__slider .slick-track {
  display: flex;
  justify-content: center;
  gap: 29px;
}
.last-projects__slider .slick-list {
  overflow: visible;
  display: flex;
}
.last-projects__slider .slick-prev {
  font-size: 0;
  position: absolute;
  left: -10px;
  top: 50%;
}
.last-projects__slider .slick-arrow {
  display: none !important;
}
.last-projects__slider .frame {
  transition: 0.1s;
  transform-style: preserve-3d;
}
.last-projects__slider .slider__item {
  background-color: #FBFBFB;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding-bottom: 14px;
  display: flex !important;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  gap: 12px;
  width: 280px;
  height: 390px;
  transform-style: preserve-3d;
  transition: 0.3s;
}
.last-projects__slider .slider__item:hover {
  transition: 0.3s;
  transform: scale(1.05);
}
.last-projects__slider .slider__item img {
  border-radius: 10px 10px 0 0;
  width: 100%;
  height: 215px;
  -o-object-fit: cover;
     object-fit: cover;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 10px;
  transform: translateZ(5px);
}
.last-projects__slider .slider__item .item__title {
  color: #434343;
  font-size: 24px;
  font-family: "Inter-SemiBold";
  transform: translateZ(13px);
  width: 100%;
  text-align: center;
}
.last-projects__slider .slider__item .item__text {
  font-size: 16px;
  color: #7B7B7B;
  font-family: "Inter-Regular";
  padding: 0 14px;
  text-align: center;
  transform: translateZ(10px);
  max-width: 100%;
}
.last-projects .link {
  margin: auto;
}

.slick-track {
  padding: 40px 0;
  z-index: 1;
}

.contact-me {
  background-color: #f3f6fb;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 100%;
  padding: 20px 10px 60px 10px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}
.contact-me .loader-form {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(217, 217, 217, 0.1);
  -webkit-backdrop-filter: blur(7px);
          backdrop-filter: blur(7px);
  z-index: -1;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}
.contact-me .loader-form span {
  display: block;
  font-size: 36px;
  color: #4B4B4B;
  font-family: "Inter-Bold";
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.contact-me .loader-form.active {
  opacity: 1;
  z-index: 200;
  transition: 0.3s;
}
.contact-me__title {
  color: #4B4B4B;
  font-family: "Inter-Bold";
  font-size: 36px;
  margin-bottom: 60px;
}
.contact-me__form {
  max-width: 600px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 60px;
}
.contact-me__form .input {
  width: 100%;
  height: 40px;
  position: relative;
}
.contact-me__form .input input:-webkit-autofill,
.contact-me__form .input input:-webkit-autofill:hover,
.contact-me__form .input input:-webkit-autofill:focus,
.contact-me__form .input textarea:-webkit-autofill,
.contact-me__form .input textarea:-webkit-autofill:hover,
.contact-me__form .input textarea:-webkit-autofill:focus,
.contact-me__form .input select:-webkit-autofill,
.contact-me__form .input select:-webkit-autofill:hover,
.contact-me__form .input select:-webkit-autofill:focus {
  -webkit-text-fill-color: #717171;
  -webkit-box-shadow: inset 0 0 0 50px #f3f6fb;
  -webkit-transition: 0;
  transition: 0;
}
.contact-me__form .input label, .contact-me__form .input input, .contact-me__form .input textarea {
  left: 0;
  position: absolute;
  color: #717171;
  transition: 0.3s;
}
.contact-me__form .input input, .contact-me__form .input textarea {
  top: 0;
  width: 100%;
  height: 100%;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid #717171;
  background: none;
  font-family: "Inter-Regular";
  font-size: 20px;
}
.contact-me__form .input input::-moz-placeholder, .contact-me__form .input textarea::-moz-placeholder {
  font-size: 0;
}
.contact-me__form .input input::placeholder, .contact-me__form .input textarea::placeholder {
  font-size: 0;
}
.contact-me__form .input input:not(:-moz-placeholder-shown), .contact-me__form .input textarea:not(:-moz-placeholder-shown) {
  outline: none;
  border-color: #4675eb;
  -moz-transition: 0.3s;
  transition: 0.3s;
}
.contact-me__form .input input:focus, .contact-me__form .input input:not(:placeholder-shown), .contact-me__form .input textarea:focus, .contact-me__form .input textarea:not(:placeholder-shown) {
  outline: none;
  border-color: #4675eb;
  transition: 0.3s;
}
.contact-me__form .input input:not(:-moz-placeholder-shown) ~ label, .contact-me__form .input textarea:not(:-moz-placeholder-shown) ~ label {
  color: #4675eb;
  font-size: 20px;
  bottom: auto;
  top: -20px;
  left: 0;
  -moz-transition: 0.3s;
  transition: 0.3s;
}
.contact-me__form .input input:focus ~ label, .contact-me__form .input input:not(:placeholder-shown) ~ label, .contact-me__form .input textarea:focus ~ label, .contact-me__form .input textarea:not(:placeholder-shown) ~ label {
  color: #4675eb;
  font-size: 20px;
  bottom: auto;
  top: -20px;
  left: 0;
  transition: 0.3s;
}
.contact-me__form .input textarea {
  height: 200%;
}
.contact-me__form .input label {
  pointer-events: none;
  top: -5px;
  left: 5px;
  font-family: "Inter-SemiBold";
  font-size: 24px;
}
.contact-me__form button {
  width: 100%;
  height: 60px;
  border: 2px solid #717171;
  border-radius: 10px 0;
  background-color: #f3f6fb;
  font-size: 24px;
  color: #717171;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-top: 20px;
  transition: 0.3s;
}
.contact-me__form button:hover {
  cursor: pointer;
  transition: 0.3s;
  background-color: #4675eb;
  border-color: #4B4B4B;
  color: rgb(255, 255, 255);
}

@media screen and (max-width: 1120px) {
  .prev-slide {
    display: none;
  }
  .next-slide {
    display: none;
  }
  .last-projects__slider-wrapper {
    max-width: 90%;
  }
}
@media screen and (max-width: 1142px) {
  .last-projects, .contact-me {
    border-radius: 0;
  }
  .last-projects__slider-wrapper, .contact-me__slider-wrapper {
    max-width: 100%;
  }
}
@media screen and (max-width: 840px) {
  .row {
    flex-direction: column;
    align-items: center;
    gap: 31px;
  }
}
@media screen and (max-width: 440px) {
  .about-me {
    padding: 19px 19px 31px 19px;
  }
}
@media screen and (max-width: 380px) {
  .my-skills {
    padding: 21px 19px 36px 19px;
  }
  .my-contacts {
    width: 100%;
  }
}
