@font-face {
  font-family: "Inter-Regular";
  src: url("/fonts/Inter-Regular.ttf");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Inter-Bold";
  src: url("/fonts/Inter-Bold.ttf");
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: "Inter-SemiBold";
  src: url("/fonts/Inter-SemiBold.ttf");
  font-style: normal;
  font-weight: 600;
}
.row {
  display: flex;
  gap: 31px;
}

.my-contacts {
  position: relative;
  max-width: 399px;
  background-color: rgba(201, 237, 255, 0.7);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding: 87px 39px 36px 39px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.my-contacts__avatar {
  position: absolute;
  top: -75px;
  left: calc(50% - 75px);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(201, 237, 255, 0.7);
  border-radius: 50%;
  width: 150px;
  height: 150px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transition: 0.3s !important;
  overflow: hidden;
}
.my-contacts__avatar img {
  border-radius: 50%;
  width: 134px;
  height: 134px;
  -o-object-fit: cover;
     object-fit: cover;
  transition: 0.5s;
}
.my-contacts__avatar:hover, .my-contacts__avatar img:hover {
  border-radius: 10px;
  transition: 0.5s;
}
.my-contacts__title {
  color: #434343;
  font-family: "Inter-SemiBold";
  font-size: 24px;
  margin-bottom: 17px;
}
.my-contacts__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  word-wrap: break-word;
  gap: 15px;
}
.my-contacts__list li {
  white-space: nowrap;
}
.my-contacts__list, .my-contacts__list a {
  color: #7B7B7B;
  font-size: 16px;
  font-family: "Inter-Regular";
}

.my-skills {
  background-color: rgba(201, 237, 255, 0.7);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  padding: 21px 39px 36px 39px;
  gap: 24px;
  align-items: center;
  width: 100%;
  overflow: hidden;
}
.my-skills__title {
  font-size: 40px;
  font-family: "Inter-Bold";
  color: #4B4B4B;
}
.my-skills__cards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 70px;
}
.my-skills__card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.my-skills__card-title {
  font-size: 20px;
  color: #434343;
  font-family: "Inter-SemiBold";
}
.my-skills__card li, .my-skills__card li a {
  color: #7B7B7B;
  font-size: 16px;
  font-family: "Inter-Regular";
}
.my-skills__list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 21px;
  gap: 15px;
}
.my-skills__list .my-skills__subskill {
  font-size: 20px;
  font-family: "Inter-SemiBold";
  color: #717171;
}

.about-me {
  background-color: rgba(252, 255, 109, 0.5);
  width: 100%;
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  padding: 19px 63px 31px 63px;
  overflow: hidden;
}
.about-me__title {
  font-size: 40px;
  color: #4B4B4B;
  font-family: "Inter-Bold";
}
.about-me__text {
  font-size: 20px;
  color: #434343;
  font-family: "Inter-Regular";
  text-align: center;
  line-height: 30px;
}

.last-projects {
  background-color: #717171;
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  padding-bottom: 29px;
}
.last-projects__title {
  font-size: 40px;
  color: #FBFBFB;
  font-family: "Inter-Bold";
  display: block;
  margin: 20px auto 8px auto;
  width: -moz-max-content;
  width: max-content;
}
.last-projects__slider-wrapper {
  margin: auto;
  max-width: 930px;
  position: relative;
}
.last-projects__slider-wrapper .custom-arrow {
  position: absolute;
  top: calc(50% - 80px);
  cursor: pointer;
  transition: 0.3s;
}
.last-projects__slider-wrapper .custom-arrow path {
  transition: 0.3s;
}
.last-projects__slider-wrapper .custom-arrow:hover {
  transition: 0.3s;
  transform: scale(1.1);
}
.last-projects__slider-wrapper .custom-arrow:hover path {
  fill: #B0BFF7;
  transition: 0.3s;
}
.last-projects__slider-wrapper .prev-slide {
  left: -80px;
}
.last-projects__slider-wrapper .next-slide {
  right: -80px;
}
.last-projects__slider-wrapper .slick-dots {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: -20px;
  margin-bottom: 23px;
  position: relative;
  z-index: 2;
}
.last-projects__slider-wrapper .slick-dots .slick-active button {
  background-color: #B0BFF7;
}
.last-projects__slider-wrapper .slick-dots li button {
  font-size: 0;
  background-color: #D9D9D9;
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.25);
  width: 10px;
  height: 10px;
  border-radius: 2px;
  border: none;
}
.last-projects__slider-wrapper .slick-dots li button:hover {
  background-color: #B0BFF7;
  cursor: pointer;
}
.last-projects__slider {
  overflow: hidden;
}
.last-projects__slider .slick-track {
  display: flex;
  justify-content: center;
  gap: 29px;
}
.last-projects__slider .slick-list {
  overflow: visible;
  display: flex;
}
.last-projects__slider .slick-prev {
  font-size: 0;
  position: absolute;
  left: -10px;
  top: 50%;
}
.last-projects__slider .slick-arrow {
  display: none !important;
}
.last-projects__slider .frame {
  transition: 0.1s;
  transform-style: preserve-3d;
}
.last-projects__slider .slider__item {
  background-color: #FBFBFB;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding-bottom: 14px;
  display: flex !important;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 12px;
  width: 280px;
  min-height: 100%;
  transform-style: preserve-3d;
  transition: 0.3s;
}
.last-projects__slider .slider__item:hover {
  transition: 0.3s;
  transform: scale(1.05);
}
.last-projects__slider .slider__item img {
  border-radius: 10px 10px 0 0;
  width: 100%;
  height: 215px;
  -o-object-fit: cover;
     object-fit: cover;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 10px;
  transform: translateZ(5px);
}
.last-projects__slider .slider__item .item__title {
  color: #434343;
  font-size: 24px;
  font-family: "Inter-SemiBold";
  transform: translateZ(13px);
}
.last-projects__slider .slider__item .item__text {
  font-size: 16px;
  color: #7B7B7B;
  font-family: "Inter-Regular";
  padding: 0 16px;
  text-align: center;
  transform: translateZ(10px);
}
.last-projects .link {
  margin: auto;
  color: #FBFBFB;
}

.slick-track {
  padding: 40px 0;
  z-index: 1;
}

@media screen and (max-width: 1120px) {
  .prev-slide {
    display: none;
  }
  .next-slide {
    display: none;
  }
  .last-projects__slider-wrapper {
    max-width: 90%;
  }
}
@media screen and (max-width: 1142px) {
  .last-projects {
    border-radius: 0;
  }
  .last-projects__slider-wrapper {
    max-width: 100%;
  }
}
@media screen and (max-width: 840px) {
  .row {
    flex-direction: column;
    align-items: center;
    gap: 31px;
  }
}
@media screen and (max-width: 440px) {
  .about-me {
    padding: 19px 19px 31px 19px;
  }
}
@media screen and (max-width: 380px) {
  .my-skills {
    padding: 21px 19px 36px 19px;
  }
  .my-contacts {
    width: 100%;
  }
}
