@font-face {
  font-family: "Inter-Regular";
  src: url("/fonts/Inter-Regular.ttf");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Inter-Bold";
  src: url("/fonts/Inter-Bold.ttf");
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: "Inter-SemiBold";
  src: url("/fonts/Inter-SemiBold.ttf");
  font-style: normal;
  font-weight: 600;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
  box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  display: block;
  transition: 0.3s;
}

body {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  line-height: 1;
  transition: 0.3s;
}

ol,
ul {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  list-style: none;
  transition: 0.3s;
}

blockquote,
q {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  quotes: none;
  transition: 0.3s;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  content: "";
  content: none;
  transition: 0.3s;
}

table {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  border-collapse: collapse;
  border-spacing: 0;
  transition: 0.3s;
}

input,
select,
button {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  outline: none;
  transition: 0.3s;
}

.container, .container-2, .container-3 {
  width: 100%;
  max-width: 1142px;
  padding: 106px 12px 12px 12px;
  display: flex;
  flex-direction: column;
  gap: 31px;
  min-width: 0;
  margin: auto;
}

.container-2 {
  margin: 33px auto auto auto;
  padding: 12px;
}

.container-3 {
  max-width: 1330px;
  margin: -80px auto auto auto;
}

@media screen and (max-width: 1140px) {
  .container-2 {
    padding-left: 0;
    padding-right: 0;
  }
}
.link {
  color: #7B7B7B;
  font-size: 16px;
  font-family: "Inter-Regular";
  position: relative;
  transition: 0.3s;
}
.link::after {
  position: absolute;
  content: "";
  background-color: #7B7B7B;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2509803922);
  width: 0;
  height: 2px;
  border-radius: 2px;
  bottom: -3px;
  left: 0;
}
.link:hover {
  color: #4B4B4B;
}
.link:hover::after {
  transition: 0.3s;
  width: 100%;
}

.pagination {
  margin: 20px auto auto auto;
}
.pagination .pagination-list {
  display: flex;
  gap: 23px;
}
.pagination .pagination-list li span, .pagination .pagination-list li a {
  font-size: 16px;
  font-family: "Inter-SemiBold";
  color: #7B7B7B;
  transition: 0.3s;
}
.pagination .pagination-list li.active span, .pagination .pagination-list li.active a {
  color: #B0BFF7;
}
.pagination .pagination-list li span:hover, .pagination .pagination-list li a:hover {
  color: #B0BFF7;
  transition: 0.3s;
}
.pagination .pagination-list .pagination-item span svg line, .pagination .pagination-list .pagination-item a svg line {
  transition: 0.3s;
}
.pagination .pagination-list .pagination-item:first-child:not(.disable):hover span svg line, .pagination .pagination-list .pagination-item:first-child:not(.disable):hover a svg line, .pagination .pagination-list .pagination-item:last-child:not(.disable):hover span svg line, .pagination .pagination-list .pagination-item:last-child:not(.disable):hover a svg line {
  stroke: #B0BFF7;
  transition: 0.3s;
}
.pagination .pagination-list .pagination-item.disable {
  opacity: 0.5;
}
