@import 'variables.scss';

body {
    background-color: $body-bg;
    padding-top: 67px;
    height: 100%;
    min-height: 100vh;
}

// ============================================== Header =============================================

header {
    position: relative;
}

.header {
    background-color: $milk;
    width: 100%;
    height: 67px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.desctop-header {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    gap: 40px;
    box-shadow: $header-shadow;
}

.desctop-header li a, .curr-lang {
    color: $text-color;
    font-family: $Ir;

    &:hover {
        color: $title-color;
    }
}

.drop-list--lang {
    background-color: $milk!important;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 12px;
    padding: 10px;
    box-shadow: $header-shadow;
}

.drop-arrow {
    border-bottom-color: $milk!important;
}

.desctop-header li a, .link-lang {
    position: relative;
    transition: .3s;

    &::after {
        position: absolute;
        content: "";
        background-color: $text-color;
        box-shadow: $link-shadow;
        width: 0;
        height: 4px;
        border-radius: 2px;
        bottom: -7px;
        left: 0;
    }

    &:hover {
        &::after {
            transition: .3s;
            width: 100%;
        }
    }
}

.desctop-header li a.active {
    &::after {
        width: 100%;
    }
}

.link-lang {
    color: $text-color!important;
    font-size: $text-size!important;
    font-family: $Ir;
    transition: .3s;

    &:hover {
        color: $title-color!important;
        transition: .3s;
    }
}

.curr-lang {
    display: flex;

    &::after {
        transition: .3s;
        display: block;
        margin-left: 6px;
        content: url('/img/arrow.svg');
    }
}

.curr-lang:hover, .drop:not(.is-disabled):hover {
    transition: .3s;
    .curr-lang::after {
        opacity: 0;
    }
}






// ============================================== Mobile header =============================================

.mobile-header {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
    width: 100%;
    height: 100%;

    &__title {
        font-family: $Ir;
        color: $text-color;
        font-size: $text-size;
    }

    &__right-block {
        display: flex;
        align-items: center;
        gap: 16px;
    }

    &__burger {
        width: 30px;
        background: none;
        border: none;
        display: flex;
        flex-direction: column;
        gap: 9px;

        & span {
            height: 2px;
            width: 30px;
            background: $text-color;
            border-radius: 4px;

            &:nth-child(1) {
                transition: .1s;
            }
            &:nth-child(3) {
                transition: .1s;
            }
        }
    }

    .active {
        gap: 0;
        position: relative;

        & span {
            position: absolute;

            &:nth-child(1) {
                transition: .1s;
                rotate: 45deg;
            }
            &:nth-child(2) {
                visibility: hidden;
            }
            &:nth-child(3) {
                transition: .1s;
                rotate: -45deg;
            }
        }
    }
}

.mobile-header__list {
    width: 100%;
    display: flex;
    opacity: 0;
    gap: 28px;
    padding-bottom: 28px;
    padding-top: 12px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $milk;
    position: fixed;
    top: -55px;
    left: 0;
    z-index: 999;
    transition: .3s;

    & li a {
        position: relative;
        color: $text-color;
        font-family: $Ir;
        transition: .3s;

        &::after {
            position: absolute;
            content: "";
            background-color: $text-color;
            box-shadow: $link-shadow;
            width: 0;
            height: 4px;
            border-radius: 2px;
            bottom: -7px;
            left: 0;
        }

        &:hover {
            color: $title-color;

            &::after {
                transition: .3s;
                width: 100%;
            }
        }
    }

    & li a.active {
        &::after {
            width: 100%;
        }
    }
}

.mobile-header__list.open {
    top: 44px;
    transition: .3s;
    opacity: 1;
}

footer {
    margin-top: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 30px 0;
    background-color: $milk;
    box-shadow: $header-shadow;

    .copyright {
        font-family: $Isb;
    }
}

.swal2-title {
    color: $sub-subtitle-color !important;
    font-family: $Ib !important;
    font-size: $title-size !important;
}

.swal2-html-container {
    color: $sub-subtitle-color !important;
    font-family: $Ib !important;
    font-size: $text-size !important;
}

.swal2-styled.swal2-confirm {
    background-color: $milk!important;
    color: $sub-subtitle-color!important;
    font-family: $Isb!important;
    font-size: $text-size !important;
    outline: none !important;
    border: 2px solid $sub-subtitle-color!important;
    border-radius: 10px 0!important;
    box-shadow: $default-shadow!important;
    transition: .3s !important;


    &:focus {
        box-shadow: $default-shadow !important;
    }

    &:hover {
        box-shadow: $default-shadow !important;
        background-color: $sub-subtitle-color !important;
        color: $milk !important;
        transition: .3s !important;
    }
}

.swal2-popup {
    background-color: $milk!important;
}





// ============================================== Media =============================================

@media screen and (min-width: 425px) {
    .mobile-header {
        display: none;
    }
}

@media screen and (max-width: 425px) {
    .mobile-header__list {
        box-shadow: $header-shadow;
    }

    .header {
        height: 50px;
    }

    body {
        padding-top: 50px;
    }

    .desctop-header {
        display: none;
    }
}