@import 'fonts.scss';

// colors

$milk: #FBFBFB;
$text-color: #7B7B7B;
$white-text-color: rgba(255, 255, 255, 1);
$title-color: #4B4B4B;
$body-bg: #F4FAFD;
$blue-block: rgba(201, 237, 255, 0.7);
$subtitle-color: #434343;
$sub-subtitle-color: #717171;
$yellow-block: rgba(252, 255, 109, 0.5);
$hover-color: #B0BFF7;
$default-dots-color: #D9D9D9;

// fonts

$Ir: 'Inter-Regular';
$Ib: 'Inter-Bold';
$Isb: 'Inter-SemiBold';

// font size

$subtitle-size: 24px;
$sub-subtitle-size: 20px;
$text-size: 16px;
$title-size: 40px;

// shadows
$header-shadow: 0px 4px 12px 6px #E8EEF1;
$link-shadow: 0px 2px 4px 0px #00000040;
$default-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
$dots-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.25);
$selected-slide-shadow: 0px 0px 8px 4px #B0BFF7;
