@import 'fonts.scss';

// colors

$dark: #000000;
$black: #4D4D4D;
$yellow: #FCEE21;
$blue: #0071BC;
$red: #ff0000;
$dark-red: #8f0000;
$white: #ffffff;

// fonts

$Ir: 'Inter-Regular';
$Ib: 'Inter-Bold';
$Isb: 'Inter-SemiBold';

// font size

$very-low: 13px;
$low: 15px;
$medium: 17px;

$low-high: 19px;
$high-mobile: 22px;
$high: 22px;
$high-xxl: 26px;

$extra-size-low: 32px;
$extra-size-mobile: 34px;
$extra-size: 52px;
