@import 'fonts.scss';

// colors

$milk: #FBFBFB;
$text-color: #7B7B7B;
$title-color: #4B4B4B;
$body-bg: #F4FAFD;

// fonts

$Ir: 'Inter-Regular';
$Ib: 'Inter-Bold';
$Isb: 'Inter-SemiBold';

// font size

$sub-subtitle-size: 20px;
$text-size: 16px;

// shadows
$header-shadow: 0px 4px 12px 6px #E8EEF1;
$link-shadow: 0px 2px 4px 0px #00000040;
